body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#settings {
    display: flex;
}

#sizeValue {
    margin: 0;
    text-align: center;
}

#resetButton {
    border-radius: 5px;
    margin: 10px;
    height: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    background-color: lightgray;
    /* border: solid 0.01px; */
    flex: 1;
}

.coloured.cell {
    background-color: darkslategrey;
}