body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#game-board {
    display: flex;
}

/* Settings */

#settings {
    display: flex;
    flex-direction: column;
}

#size-value {
    margin: 0;
    text-align: center;
}

#reset-button {
    border-radius: 5px;
    margin: 10px;
    height: 30px;
}

/* Grid */

#grid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
}