body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    background-color: lightgray;
    border: solid 1px;
    flex: 1;
}

.coloured.cell {
    background-color: darkslategrey;
}