body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#game-board {
    display: flex;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;
}

h5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Settings */

#settings {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
}

#size-selection {
    display: flex;
    flex-direction: column;
}

#size-value {
    margin: 0;
    text-align: center;
    font-size: 15px;
}

#reset-button {
    border-radius: 5px;
    width: 50px;
}

#colour-selection {
    margin-bottom: 10px;
}

.colour-row {
    display: flex;
    flex: 1;
}

.colour-button {
    height: 20px;
    width: 20px;
    border: solid 1px;
    margin: 2px;
}

button {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#colour1 {
    background-color: #9e0142;
}

#colour2 {
    background-color: #d53e4f;
}

#colour3 {
    background-color: #f46d43;
}

#colour4 {
    background-color: #fdae61;
}

#colour5 {
    background-color: #fee08b;
}

#colour6 {
    background-color: #e6f598;
}

#colour7 {
    background-color: #abdda4;
}

#colour8 {
    background-color: #66c2a5;
}

#colour9 {
    background-color: #3288bd;
}

#colour10 {
    background-color: #5e4fa2;
}

#colour-black {
    background-color: black;
}

/* Grid */

#grid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 5px solid;
    border-radius: 5px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
}