body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#reset {
    border-radius: 5px;
    margin: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    background-color: lightgray;
    /* border: solid 0.01px; */
    flex: 1;
}

.coloured.cell {
    background-color: darkslategrey;
}